# Environment
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Strapi
backend/.tmp/
backend/.cache/
backend/build/
backend/dist/
backend/public/uploads/
backend/.strapi/

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.pub-cache/
mobile/.pub/
mobile/**/generated_plugin_registrant.dart

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Logs
*.log
npm-debug.log*

# Test / coverage
coverage/
.nyc_output/
